<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Microservicio de Marca de Tiempo by Flucero</title>
      <link rel="stylesheet" href="/style.css">
   </head>

   <body>
    <h1>Microservicio de Marca de Tiempo by Flucero 2</h1>
    <hr>
    <main>
      <p>Ejemplo de uso:</p>
      <ul>
        <li><a href="/api/2015-12-25">[proyecto_url]/api/2015-12-25</a></li>
        <li><a href="/api/1451001600000">[proyecto_url]/api/1451001600000</a></li>
      </ul>
      <p>Salida de ejemplo:</p>
      <code>
        {
          "unix": 1451001600000,
          "utc": "Fri, 25 Dec 2015 00:00:00 GMT"
        }
      </code>
    </main>
    <footer>
      <p>Por <a href="https://www.freecodecamp.org" target="_blank">freeCodeCamp.org</a></p>
    </footer>
  </body>
</html>
